/*Подключение локальных шрифтов*/
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), local('Montserrat'),
    url("../fonts/Montserrat/Montserrat.woff") format('woff'),
    url("../fonts/Montserrat/Montserrat.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local("Montserrat-Bold"), local('Montserrat-Bold'),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format('woff'),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: local("Montserrat-Thin"), local('Montserrat-Thin'),
    url("../fonts/Montserrat-Thin/Montserrat-Thin.woff") format('woff'),
    url("../fonts/Montserrat-Thin/Montserrat-Thin.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

a {
    outline-style: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.content {
    width: 1366px;
    margin: 0 auto;
}

.p-abs {
    position: absolute;
}

.p-rel {
    position: relative;
}

.up-1 {
    z-index: 1;
}

.up-2 {
    z-index: 2;
}

.up-3 {
    z-index: 3;
}

.background-grey {
    background-color: #c7c7c7;
}

.slider-block {
    padding: 53px 98px 0 98px;
    background-image: url("../img/slider-img.png");
    width: 1366px;
    height: 800px;
    position: relative;
}

.slider-block div {
    align-items: center;
}

#logo-menu {
    width: 185px;
    height: 22px;
}

#menu-list {
    font-family: "Montserrat";
}

.menu-link-container {
    padding: 5px 13px 5px 13px;
}

.menu-link-container > a {
    vertical-align: middle;
    color: #969696;
    text-transform: uppercase;
}

.menu-link-container > a:hover {
    color: #212121;
}

.bordered {
    border-bottom: 1px solid #6c6c6c;
}

.menu-active {
    border-bottom: 3px solid #212121;
}

.menu-active > a {
    color: #212121;
}

#search-sign {
    width: 23px;
    height: 23px;
    margin: 0 69px 0 5px;
}

/*Инфо-блок*/
#slider-text {
    margin-top: 278px;
}

.green {
    color: #43a047;
}

.blue {
    color: #1e88e5;
}

.red {
    color: #e53935;
}


.info-title {
    /* Style for "TRENDING" */
    font-family: "Montserrat-Bold";
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.info-item {
    /* Style for "Fishnet Ch" */
    color: #212121;
    font-family: "Montserrat-Thin";
    font-size: 62px;
    line-height: 72px;
    text-transform: uppercase;
}

.info-description {
    max-width: 480px;
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 24px;
}

.info-button {
    /* Style for "Order Us" */
    color: #212121;
    font-family: "Montserrat-Bold";
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "Order Us" */
    letter-spacing: 3.6px;
    /* Style for "back" */
    margin-top: 32px;
}

.white-btn {
    padding: 5px 22px 5px 24px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    display: inline-block;
}

.white-btn:after {
    content: ' \203A';
    font-size: 24px;
}

.white-btn:hover {
    transition: 0.1s;
    color: #212121;
    box-shadow: 0 5px 5px 1px rgba(33, 33, 33, 0.35);
}

.white-btn:focus {
    transition: 0.2s;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 33, 0.35);
}

/*Переключатели слайдера*/
.circles-handlers {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 85%;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 0 3px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #212121;
}

/*Блок с предложениями товаров*/
#required-product-block {
    padding: 120px 98px;
}

/*Правая ссылка*/
.title-menu-link {
    font-family: "Montserrat-Bold";
    /* Style for "explore al" */
    color: #212121;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.title-menu {
}

.title-menu-link * {
    color: #212121;
}

.title-menu-link *:hover {
    text-decoration: none;
    color: #212121;
}

.menu-arrow:after {
    content: ' \203A';
    font-size: 28px;
}

.title-point {
    margin-bottom: 75px;
}

.title-point > a {
    /* Style for "Featured" */
    color: #6c6c6c;
    font-family: "Montserrat-Bold";
    font-size: 36px;
    text-transform: capitalize;
    border-bottom: 1px solid #6c6c6c;
    padding: 0 20px 19px 10px;
    font-weight: 800;
    letter-spacing: .1px;

}

.title-active > a {
    color: #212121;
    border-bottom: 3px solid #212121;
}

/*Маленькая карточка товара*/
.card-product-small {
    width: 270px;
    height: 270px;
    /* Style for "back" */
    border: 1px solid transparent;
    position: relative;
}

.card-body {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    width: inherit;
}

.card-body > a {
    color: #212121;
}

.card-image {
    width: 270px;
    height: 270px;
    z-index: -1;
    position: absolute;
}

.card-product-small:hover {
    border: 1px solid #9c9c9c;
}

.card-product-small:hover .card-image {
    opacity: 0.1;
}

.card-product-small:hover .card-body {
    opacity: 1;
}

.card-body-title {
    margin: 20px 0 15px 0;
    /* Style for "Fcircles-wrapperishnet Ch" */
    color: #212121;
    font-family: "Montserrat-Bold";
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;

}

.card-body-description {
    /*Сокращение отоображения текста*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

/*Два эксклюзивных товара*/
.product-wrapper {
    width: 683px;
    height: 683px;
    position: relative;
}

.compact-info-component {
    position: absolute;
    margin-top: 228px;
    margin-left: 51px;
}

.compact-info-item {
    /* Style for "Fishnet Ch" */
    /* Style for "Fishnet Ch" */
    color: #212121;
    font-family: "Montserrat-Bold";
    font-size: 36px;
    font-weight: 700;
}

.compact-info-description {
    max-width: 380px;
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 24px;
}

/*лок трендовых товаров*/
#trend-product-block {
    /*margin-top: 120px;*/
    padding: 120px 98px 90px 98px;
    clear: both;
}

.lonely-title {
    /* Style for "Trending P" */
    color: #212121;
    font-family: "Montserrat-Bold";
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.1px;
    text-transform: capitalize;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.margin-wrapper {
    margin-bottom: 64px;
}

.card-image-medium-wrapper {
    margin-bottom: 30px;
}

.card-image-medium-wrapper:hover {
    outline: 1px solid #6c6c6c;
}

.card-image-medium {
    width: 370px;
    height: 370px;
}

/*Слайдер-блок-2. HOT-DEAL*/
.slider-block-wrapper {
    width: 1366px;
    height: 800px;

}

.slider-block-wrapper > div {
    position: absolute;
    margin-top: 287px;
    margin-left: 99px;
}

.slider-background {
    width: max-content;
    height: auto;
}

.slider-handlers {
    position: relative;
    top: 440px;
    margin: 0 50%;
}

.slider-handlers > div {
    align-items: center;
}

/*Блок смешанных товаров*/
#mixin-product-block {
}

.light-block {
    padding: 120px 0;
}

.big-wrapper {
    height: 570px;
    width: 570px;
    position: relative;
    margin-right: 30px;
}

.big-wrapper:last-child {
    margin-right: 0;
}

.big-wrapper-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.small-wrapper {
    width: 270px;
    height: 270px;
    position: relative;
    margin-right: 30px;
}

.small-wrapper:nth-child(2) {
    margin-right: 0;
}

.card-image-big {
    height: 570px;
    width: 570px;
}

.compact-info-component-inner {
    position: absolute;
    margin-top: 186px;
    margin-left: 31px;
}

/*Блок мобильным приложением*/
#mobile-app {
}

.mobile-app-wrapper {
    background-image: url("../img/back-img.jpg");
    width: 1366px;
    height: 516px;
    position: relative;
}

.info-wrapper {
    position: absolute;
    top: 125px;
    left: 99px;
}

.title {
    /* Style for "mobile app" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    /* Text style for "mobile app" */
    letter-spacing: 1.8px;
}

.slogan {
    /* Style for "Find. Foll" */
    color: #212121;
    font-family: "Montserrat-Thin";
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 136px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slogan-desc {
    /* Style for "Save your" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}

.resource-wrapper {
}

.resource-logo {
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

/*БЛОК ФУТЕРА*/
.footer-wrapper {
    width: 1366px;
    height: 384px;
    margin: 0 auto;
    padding: 120px 99px 0 99px;
    background-color: #f7f7f7;
}

.left-container {
    width: 230px;
}

.right-container {
    width: 370px;
}

.footer-title {
    /* Style for "Let’s Stay" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "L, et’s St" */
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}

.col-text {
    /* Style for "Suscribe t" */
    color: #212121;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 26px;
}

/*Форма отправки email-клитента*/
.send-form {
}

input[type="email"].client-email {
    width: 370px;
    height: 48px;
    padding: 0 35px 0 19px;
    vertical-align: center;
    /* Style for "your email" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 22px;

}

input[type="submit"] {
    background: url("../img/message.jpg") no-repeat 50% 50%;
    width: 28px;
    height: 23px;
    border: none;
    right: 5px;
    top: 12px
}

.footer-ul {
    /* Style for "Sales term" */
    color: #212121;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Sales term" */
    letter-spacing: 0.7px;
    list-style-type: none;
    text-align: left;
}

.text-left {
    margin-right: 90px;
}

.bottom-text {
    width: 1366px;
    margin: 0 auto;
}

.bottom-text-container {
    /* Style for "Terms & Co" */
    color: #6c6c6c;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "T, erms &" */
    letter-spacing: 0.6px;
}

.social-apps-row {
    position: absolute;
    top: 330px;
    left: 618px
}


/*---------PRODUCT PAGE---------------------------------------------------------*/
#header {
    width: 1366px;
    height: 360px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 63px 98px;
    position: relative;
}

#nav-bar {
    align-items: center;
}

.title-page-slogan {
    position: absolute;
    bottom: 44px;
    left: 98px;
    /* Style for "Our Produc" */
    font-family: "Montserrat-Thin";
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
}

#products-block {
    padding: 70px 98px;
    min-height: 400px;
}

.central-image {
    vertical-align: bottom;
    text-align: center;
}

button.refresh {
    border: none;
    background-color: transparent;
}

/*---------CONTACT PAGE---------------------------------------------------------*/
.contact-block {
    padding: 71px 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-card {
    width: 370px;
    height: 370px;
    border: 2px solid #6c6c6c;
}
.contact-card:hover {
    border: 2px solid #212121;
}
.contact-card:hover .gps-marker {
    opacity: 1;
}

.gps-marker {
    margin-top: 48px;
    width: 38px;
    height: 48px;
    opacity: 0.7;

}
.card-body-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-body-point-wrapper {
    padding-bottom: 20px;
}

.point-title, .point-content {
    color: #6c6c6c;
    font-size: 14px;
    line-height: 20px;
    /* Text style for "Phone: , E" */
    font-family: "Montserrat-Bold";
}
.point-content {
    color: #212121;
    font-weight: 100;
    font-family: "Montserrat-Bold";
}
.point-content-light {
    color: #6c6c6c;
    font-family: "Montserrat";
    font-weight: 100;
}

